/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Chunk Five';
    src: url('../type/Chunkfive-webfont.eot');
    src: url('../type/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/Chunkfive-webfont.woff') format('woff'),
         url('../type/Chunkfive-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood';
    src: url('../type/fanwood_text-webfont.eot');
    src: url('../type/fanwood_text-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/fanwood_text-webfont.woff') format('woff'),
         url('../type/fanwood_text-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood';
    src: url('../type/fanwood_text_italic-webfont.eot');
    src: url('../type/fanwood_text_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/fanwood_text_italic-webfont.woff') format('woff'),
         url('../type/fanwood_text_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body, pre {
	color: #222;
	font: 1.5em/1.4em "Fanwood", Georgia, sans-serif;
	-moz-font-feature-settings:"liga" 1, "dlig" 1;
	-moz-font-feature-settings:"liga=1, dlig=1";
	-ms-font-feature-settings:"liga" 1, "dlig" 1;
	-o-font-feature-settings:"liga" 1, "dlig" 1;
	-webkit-font-feature-settings:"liga" 1, "dlig" 1;
	font-feature-settings:"liga" 1, "dlig" 1;
}

h1 {
	font: 2em/1.4em "Fanwood", Georgia, sans-serif;
	text-transform: uppercase;
}

header h1,
header h2,
header h3 {
	font-weight: normal;
}

header h2 {
	font-style: italic;
}

header h3,
.credit {
	font-variant: small-caps;
}

p {
	margin: 0;
}

p + p,
blockquote > p,
blockquote + p,
.footnote > p {
	text-indent: 1.5em;
}

blockquote {
	margin: 1em 0;
}

pre {
	font-size: 1em;
}

a {
	color: #000;
}

blockquote {
	font-size: 0.85em;
	line-height: 1.4em;
}

.footnote {
	font-size: 0.8em;
	line-height: 1.4em;
}

.footnote + .footnote {
	margin-top: 1em;
}

.main, header, footer {
	margin: auto;
	max-width: 780px;
	padding: 20px;
}

.main footer {
	padding: 1em 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

#toc li {
	margin: 0.25em 0;
}

/* #toc li:first-child,  */
#toc li:last-child {
	font-size: 0.9em;
	font-style: italic;
}

.byline {
	display: flex;
	font-style: italic;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 1em;
}

.byline h4 {
	font-variant: small-caps;
	font-style: normal;
	margin: 0;
}

footer nav {
	border-top: 1px solid #ccc;
	letter-spacing: 1px;
	font-size: 0.75em;
	text-transform: uppercase;
}

footer nav ul {
    display: flex;
}

footer nav li {
	border-top: 1px solid #fff;
    flex: 1 1 auto;
	text-align: center;
}

footer nav a {
	color: #666;
	display: block;
	padding: 5px;
	text-decoration: none;
}

footer nav a:hover {
	background: #ededed;
	text-shadow: 1px 1px 1px #fff;
}

.meta {
	display: block;
	font-size: 0.8em;
	opacity: 0.4;
	text-align: center;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 694px) {

    footer nav li,
    footer nav li:first-child,
    footer nav li:last-child {
        float: none;
        text-align: center;
        width: 100%;
    }

    .byline {
        font-size: smaller;
        line-height: 1.5em;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
